.slider-{
    img{
        max-width: 100%;
    }
}

.slider-__outer{
    position: relative;
}


.swiper-nav{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #999;
}

.swiper-button-next{
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
}
.swiper-button-prev{
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
}